APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:nFVDIexJWSVY1HMAhrs+zfNlCrExf0b5YwLx91SuKd8=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=Laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=dca5ed3dcc83e9
MAIL_PASSWORD=1d8baa2a3a2131
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="support@3llawy.com"
MAIL_FROM_NAME="Laravel"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_CLIENT_ID="882776086151-5utbsl38s1ve1do6fje196psuflp4l6e.apps.googleusercontent.com"
GOOGLE_SECRET_ID="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"

#PayPal API Mode
# Values: sandbox or live (Default: live)
PAYPAL_MODE=sandbox

#PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_CLIENT_ID=AZxyOq6-HLzJWP_B0nohCq48jCZrhMft-AmrXKc54yT5_qLrYqEMY6xIAIteWrr5u1GiNPDgS_I71z0Y
PAYPAL_SANDBOX_CLIENT_SECRET=EOpIszb_0esEtPqkMp6jGPw9cXGEYMbECmyOieh8auMp42QFLESi9uZAkWmmUdXMxSxzhFp2CURS5sLu

#PayPal Setting & API Credentials - live PaypalController
# PAYPAL_LIVE_CLIENT_ID=
# PAYPAL_LIVE_CLIENT_SECRET=